<!DOCTYPE html>
<%- include('layouts/head'); -%>

    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar'); -%>
            <!-- Page Header-->
            <%- include('layouts/header-post'); -%>
                <!-- Post Content-->
                <article class="mb-4">
                    <div class="container px-4 px-lg-5">
                        <div class="row gx-4 gx-lg-5 justify-content-center">
                            <div class="col-md-10 col-lg-8 col-xl-7">
                                <h2 class=" post-title">
                                    <%= blogposts.title %>
                                </h2>
                                <h3 class="post-subtitle">
                                    <%= blogposts.body %>
                                </h3>
                                </a>
                                <p class="post-meta">
                                    Posted by
                                    <a href="#">
                                        <%= blogposts.author %>
                                    </a> in
                                    <%= blogposts.date.toDateString() %>
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Footer-->
                <%- include('layouts/footer'); -%>

                    <!-- Script-->
                    <%- include('layouts/scripts'); -%>
    </body>

    </html>